@using Domain.Entity.Products
@using Domain.Entity.Products.Categories
@using Domain.Entity.Products.Brands
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    List<MainCategory> mcategories = ViewBag.MainCategories;
    List<Category> categories = ViewBag.Categories;
    MainCategory mcategory = ViewBag.FirstMainCategory;
    SubCategory subCategory = ViewBag.SubCat;
}
@section header
{
    <header class="header-main">
        <div class="d-block">
            <section class="h-main-row">
                <div class="col-lg-9 col-md-12 col-xs-12 pr">
                    <div class="header-right">
                        <div class="col-lg-3 pr">
                            <div class="header-logo row text-right">
                                <a href="@Url.Action("Index","Home")">
                                    <img src="~/Shop/assets/images/logo.png" alt="کالامارکت">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 pr">
                            <div class="header-search row text-right">
                                <div class="header-search-box">
                                    <form action="#" class="form-search">
                                        <input type="search" class="header-search-input" name="search-input"
                                               placeholder="نام محصول یا برند را جستجو کنید…">
                                        <div class="action-btns">
                                            <button class="btn btn-search" type="submit">
                                                <img src="~/Shop/assets/images/search.png" alt="search">
                                            </button>
                                            <div class="search-filter">
                                                <div class="form-ui">
                                                    <div class="custom-select-ui">
                                                        <select class="right">
                                                            <option>@mcategory.Title</option>
                                                            @foreach (var category in categories)
                                                            {
                                                                <option value="@category.Id">@category.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="search-result">
                                        <ul class="search-result-list mb-0">
                                            <li>
                                                <a href="#">
                                                    <i class="mdi mdi-clock-outline"></i>
                                                    کالای دیجیتال
                                                    <button class="btn btn-light btn-continue-search" type="submit">
                                                        <i class="fa fa-angle-left"></i>
                                                    </button>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="mdi mdi-clock-outline"></i>
                                                    آرایشی و بهداشتی
                                                    <button class="btn btn-light btn-continue-search" type="submit">
                                                        <i class="fa fa-angle-left"></i>
                                                    </button>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="mdi mdi-clock-outline"></i>
                                                    گوشی موبایل
                                                    <button class="btn btn-light btn-continue-search" type="submit">
                                                        <i class="fa fa-angle-left"></i>
                                                    </button>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="mdi mdi-clock-outline"></i>
                                                    تبلت
                                                    <button class="btn btn-light btn-continue-search" type="submit">
                                                        <i class="fa fa-angle-left"></i>
                                                    </button>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="mdi mdi-clock-outline"></i>
                                                    لپ تاپ
                                                    <button class="btn btn-light btn-continue-search" type="submit">
                                                        <i class="fa fa-angle-left"></i>
                                                    </button>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="mdi mdi-clock-outline"></i>
                                                    دوربین
                                                    <button class="btn btn-light btn-continue-search" type="submit">
                                                        <i class="fa fa-angle-left"></i>
                                                    </button>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="localSearchSimple"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-0 col-xs-12 pl">
                    <div class="header-left">
                        <div class="header-account text-left">
                            <div class="d-block">
                                <div class="account-box">
                                    <div class="nav-account d-block pl">
                                        <span class="icon-account">
                                            <img src="~/Shop/assets/images/man.png" class="avator">
                                        </span>
                                        <span class="title-account">حساب کاربری</span>
                                        <div class="dropdown-menu">
                                            <ul class="account-uls mb-0">
                                                <li class="account-item">
                                                    <a href="@Url.Action("Panel","UserPanel")" class="account-link">پنل کاربری</a>
                                                </li>
                                                <li class="account-item">
                                                    <a href="@Url.Action("Orders","UserPanel")" class="account-link">سفارشات من</a>
                                                </li>
                                                <li class="account-item">
                                                    <a href="@Url.Action("Wallet","UserPanel")" class="account-link" style="background-color: #f5f5f5">کیف پول:  0 تومان</a>
                                                </li>
                                                <li class="account-item">
                                                    <a href="@Url.Action("Logout","UserPanel")" class="account-link">خروج</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <nav class="header-main-nav">
                <div class="d-block">
                    <div class="align-items-center">
                        <ul class="menu-ul mega-menu-level-one">
                            @foreach (var mainCat in mcategories)
                            {
                                <li id="nav-menu-item"
                                    class="menu-item @(mainCat.Categories.Any() ? "nav-overlay" : "")">
                                    <a href="#" class="current-link-menu">
                                        @mainCat.Title
                                        @if (mainCat.Categories.Any())
                                        {
                                            <i class="fa fa-angle-down"></i>
                                        }
                                    </a>

                                    @if (mainCat.Categories.Any())
                                    {
                                        <ul class="sub-menu is-mega-menu mega-menu-level-two">
                                            @foreach (var category in mainCat.Categories)
                                            {
                                                <li class="menu-mega-item menu-item-type-mega-menu">
                                                    <a href="#" class="mega-menu-link">
                                                        @category.Name
                                                    </a>

                                                    @if (category.SubCategories.Any())
                                                    {
                                                        <ul class="sub-menu mega-menu-level-three">
                                                            @foreach (var subCat in category.SubCategories)
                                                            {
                                                                <li class="menu-mega-item-three">
                                                                    <a href="@Url.Action("SubCategoryProduct", "Home", new { id = @subCat.Id })">
                                                                        @subCat.Title
                                                                    </a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    }
                                </li>
                            }

                            <li class="divider-space-card">
                                <div class="header-cart-basket">
                                    <a href="#" class="cart-basket-box">
                                        <span class="icon-cart">
                                            <i class="mdi mdi-shopping"></i>
                                        </span>
                                        <span class="title-cart">سبد خرید</span>
                                        <span class="price-cart">
                                            25,000,000
                                            <span>تومان</span>
                                        </span>
                                        <span class="count-cart">2</span>
                                    </a>
                                    <div class="widget-shopping-cart">
                                        <div class="widget-shopping-cart-content">
                                            <div class="wrapper">
                                                <div class="scrollbar" id="style-1">
                                                    <div class="force-overflow">
                                                        <ul class="product-list-widget">
                                                            <li class="mini-cart-item">
                                                                <div class="mini-cart-item-content">
                                                                    <a href="#" class="mini-cart-item-close">
                                                                        <i class="mdi mdi-close"></i>
                                                                    </a>
                                                                    <a href="#" class="mini-cart-item-image d-block">
                                                                        <img src="~/Shop/assets/images/menu-main/img-card.jpg">
                                                                    </a>
                                                                    <span class="product-name-card">
                                                                        لپ تاپ چووی
                                                                        الترابوک 14
                                                                        اینچ پرو
                                                                    </span>
                                                                    <div class="variation">
                                                                        <span class="variation-n">
                                                                            فروشنده :
                                                                        </span>
                                                                        <p class="mb-0">کالامارکت </p>
                                                                    </div>
                                                                    <div class="header-basket-list-item-color-badge">
                                                                        رنگ:
                                                                        <span style="background: #000"></span>
                                                                    </div>
                                                                    <div class="quantity">
                                                                        <span class="quantity-Price-amount">
                                                                            15,000,000
                                                                            <span>تومان</span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="mini-cart-item">
                                                                <div class="mini-cart-item-content">
                                                                    <a href="#" class="mini-cart-item-close">
                                                                        <i class="mdi mdi-close"></i>
                                                                    </a>
                                                                    <a href="#" class="mini-cart-item-image d-block">
                                                                        <img src="~/Shop/assets/images/menu-main/img-card-2.jpg">
                                                                    </a>
                                                                    <span class="product-name-card">
                                                                        هواوای میت
                                                                        بوک X پرو
                                                                        13.9 اینچ
                                                                    </span>
                                                                    <div class="variation">
                                                                        <span class="variation-n">
                                                                            فروشنده :
                                                                        </span>
                                                                        <p class="mb-0">کالامارکت </p>
                                                                    </div>
                                                                    <div class="header-basket-list-item-color-badge">
                                                                        رنگ:
                                                                        <span style="background: #ccc"></span>
                                                                    </div>
                                                                    <div class="quantity">
                                                                        <span class="quantity-Price-amount">
                                                                            10,000,000
                                                                            <span>تومان</span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mini-card-total">
                                                <strong>قیمت کل : </strong>
                                                <span class="price-total">
                                                    25,000,000
                                                    <span>تومان</span>
                                                </span>
                                            </div>
                                            <div class="mini-card-button">
                                                <a href="cart.html" class="view-card">مشاهده سبد خرید</a>
                                                <a href="checkout.html" class="card-checkout">تسویه حساب</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="header-cart-interest">
                                    <a href="#" class="d-block">
                                        <i class="fa fa-heart"></i>
                                        <span class="counter">۲</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!--    responsive-megamenu-mobile----------------->

            <nav class="sidebar">
                <div class="nav-header">
                    <div class="header-cover"></div>
                    <div class="logo-wrap">
                        <a class="logo-icon" href="#"><img alt="logo-icon" src="assets/images/logo.png" width="40"></a>
                    </div>
                </div>
                <ul class="nav-categories ul-base">
                    @foreach (var i in mcategories)
                    {
                        var id = "collapseOne" + i.Id;
                        <li>
                            <a href="#" class="collapsed" type="button" data-toggle="collapse" data-target="#@id"
                               aria-expanded="false" aria-controls="collapseOne">
                                <i class="mdi mdi-chevron-down"></i>@i.Title
                            </a>

                            <div id="@id" class="collapse" aria-labelledby="headingOne"
                                 data-parent="#accordionExample" style="">
                                <ul>
                                    @foreach (var c in i.Categories)
                                    {
                                        <li class="has-sub">
                                            <a href="#" class="category-level-2">@c.Name</a>
                                            <ul>
                                                @foreach (var s in c.SubCategories)
                                                {
                                                    <li>
                                                        <a href="@Url.Action("SubCategoryProduct", "Home", new { id = @c.Id })"
                                                           class="category-level-3">@s.Title</a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </li>
                    }


                </ul>
            </nav>
            <div class="nav-btn nav-slider">
                <span class="linee1"></span>
                <span class="linee2"></span>
                <span class="linee3"></span>
            </div>
            <div class="overlay"></div>
            <!-- bottom-menu-joomy -->
            <div class="bottom-menu-joomy">
                <ul class="mb-0">
                    <li>
                        <a href="home-1.html">
                            <i class="mdi mdi-home"></i>
                            صفحه اصلی
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="nav-btn nav-slider">
                                <i class="mdi mdi-menu" aria-hidden="true"></i>
                            </div>
                            دسته بندی ها
                        </a>
                    </li>
                    <li>
                        <a href="cart.html">
                            <i class="mdi mdi-cart"></i>
                            سبد خرید
                            <div class="shopping-bag-item">2</div>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#exampleModalCenter">
                            <i class="mdi mdi-magnify"></i>
                            جستجو
                        </a>
                    </li>
                    <li>
                        <a href="login.html">
                            <i class="mdi mdi-account"></i>
                            حساب کاربری
                        </a>
                    </li>
                </ul>
            </div>
            <!--    responsive-megamenu-mobile----------------->
        </div>
    </header>
}
<div class="container-main">
    <div class="d-block">
        <section class="profile-home">
            <div class="col-lg">
                <div class="post-item-profile order-1 d-block">
                    <div class="col-lg-3 col-md-3 col-xs-12 pr">
                        <div class="sidebar-profile sidebar-navigation">
                            <section class="profile-box">
                                <header class="profile-box-header-inline">
                                    <div class="profile-avatar user-avatar profile-img">
                                        <img src="~/Shop/assets/images/man.png">
                                    </div>
                                </header>
                                <footer class="profile-box-content-footer">
                                    <span class="profile-box-nameuser">حسن شجاعی</span>
                                    <span class="profile-box-registery-date">عضویت در سایت 2 پیش</span>
                                    <span class="profile-box-phone">شماره همراه : *******0991</span>
                                    <div class="profile-box-tabs">
                                        <a href="#" class="profile-box-tab-sign-out"><i
                                                class="mdi mdi-logout-variant"></i>خروج از حساب</a>
                                    </div>
                                </footer>
                            </section>
                            <section class="profile-box">
                                <ul class="profile-account-navs">
                                    <li class="profile-account-nav-item navigation-link-dashboard">
                                        <a href="@Url.Action("Panel")" class="active">
                                            <i class="mdi mdi-account-outline"></i>
                                            پروفایل
                                        </a>
                                    </li>
                                    <li class="profile-account-nav-item navigation-link-dashboard">
                                        <a href="@Url.Action("Orders")" class="">
                                            <i class="mdi mdi-cart"></i>
                                            همه سفارش ها
                                        </a>
                                    </li>
                                    <li class="profile-account-nav-item navigation-link-dashboard">
                                        <a href="#" class=""><i class="mdi mdi-heart"></i>
                                            لیست علاقه مندی
                                        </a>
                                    </li>
                                    <li class="profile-account-nav-item navigation-link-dashboard">
                                        <a href="@Url.Action("Wallet")" class="">
                                            <i class="mdi mdi-wallet"></i>
                                            کیف پول
                                        </a>
                                    </li>
                                    <li class="profile-account-nav-item navigation-link-dashboard">
                                        <a href="#" class=""><i class="mdi mdi-email-open-outline"></i>
                                            نظرات
                                        </a>
                                    </li>
                                    <li class="profile-account-nav-item navigation-link-dashboard">
                                        <a href="@Url.Action("UserInfo")" class=""><i class="mdi mdi-tooltip-text-outline"></i>
                                            اطلاعات حساب
                                        </a>
                                    </li>
                                </ul>
                            </section>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-xs-12 pl">
                        <div class="profile-content">
                            <div class="profile-stats">
                                <table class="table table-profile">
                                    <tbody>
                                    <tr>
                                        <td class="w-50">
                                            <div class="title">نام و نام خانوادگی:</div>
                                            <div class="value">حسن شجاعی</div>
                                        </td>
                                        <td>
                                            <div class="title">پست الکترونیک :</div>
                                            <div class="value">info@digismart.com</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="title">شماره تلفن همراه:</div>
                                            <div class="value">*******0991</div>
                                        </td>
                                        <td>
                                            <div class="title">تاریخ عضویت:</div>
                                            <div class="value">۱۳۹۹/۰۱/۱۲</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="title"> دریافت خبرنامه :</div>
                                            <div class="value">بله</div>
                                        </td>
                                        <td>
                                            <div class="title"> کد ملی :</div>
                                            <div class="value">-</div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="profile">
                                    <ul class="mb-0">
                                        <li class="profile-item">
                                            <div class="title">نام و نام خانوادگی:</div>
                                            <div class="value">حسن شجاعی</div>
                                        </li>
                                        <li class="profile-item">
                                            <div class="title">پست الکترونیک :</div>
                                            <div class="value">info@digismart.com</div>
                                        </li>
                                        <li class="profile-item">
                                            <div class="title">شماره تلفن همراه:</div>
                                            <div class="value">*******0991</div>
                                        </li>
                                        <li class="profile-item">
                                            <div class="title">تاریخ عضویت:</div>
                                            <div class="value">۱۳۹۹/۰۱/۱۲</div>
                                        </li>
                                        <li class="profile-item">
                                            <div class="title"> دریافت خبرنامه :</div>
                                            <div class="value">بله</div>
                                        </li>
                                        <li class="profile-item">
                                            <div class="title"> کد ملی :</div>
                                            <div class="value">-</div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="profile-edit-action">
                                    <a href="@Url.Action("UserInfo")" class="link-spoiler-edit btn btn-secondary">ویرایش اطلاعات</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>