<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@(ViewData["Title"] ?? "پنل مدیریت")</title>
    <link rel="website icon" type="png" href="~/Images/FavIcon/icons8-shop-48.png"/>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminDashboard/plugins/font-awesome/css/font-awesome.min.css">
    <!-- Font Awesome 6 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminDashboard/dist/css/adminlte.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/AdminDashboard/plugins/iCheck/flat/blue.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="~/AdminDashboard/plugins/morris/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/AdminDashboard/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/AdminDashboard/plugins/daterangepicker/daterangepicker-bs3.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/AdminDashboard/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- bootstrap rtl -->
    <link rel="stylesheet" href="~/AdminDashboard/dist/css/bootstrap-rtl.min.css">
    <!-- template rtl version -->
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/AdminDashboard/plugins/colorpicker/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="~/AdminDashboard/dist/css/custom-style.css">
    <link rel="stylesheet" href="~/AdminDashboard/plugins/select2/select2.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.min.css" rel="stylesheet">
    <!-- jQuery UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://cdn.ckeditor.com/4.22.1/full/ckeditor.js"></script>
    @await RenderSectionAsync("link", false)
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#">
                    <i class="fas fa-bars"></i>
                </a>
            </li>
        </ul>

        <!-- SEARCH FORM -->
        <form class="form-inline ml-3">
            <div class="input-group input-group-sm">
                <input class="form-control form-control-navbar" type="search" placeholder="جستجو">
                <div class="input-group-append">
                    <button class="btn btn-navbar" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <!-- Right navbar links -->
        <ul class="navbar-nav mr-auto">
            <!-- دکمه حالت شب/روز با استایل سفید/مشکی -->
            <li class="nav-item">
                <a class="nav-link" id="dark-mode-toggle" href="#" title="تغییر حالت روز/شب">
                    <i class="fas fa-moon" style="color: #000;"></i>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <div class="brand-link">
            <span class="brand-text font-weight-light">پنل مدیریت</span>
        </div>

        <!-- Sidebar -->
        <div class="sidebar" style="direction: ltr">
            <div style="direction: rtl">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/AdminIcon.png" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">شایان صالحی</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fa fa-home"></i>
                                <p>
                                    خانه
                                    <!--<i class="right fa fa-angle-left"></i> -->
                                </p>
                            </a>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-info"></i>
                                <p>
                                    اطلاعات پایه
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("ManageFeature", "Admin")" class="nav-link">
                                        <i class="fa fa-list nav-icon"></i>
                                        <p>ویژگی</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("ManageColor", "Admin")" class="nav-link">
                                        <i class="fa fa-paint-brush nav-icon"></i>
                                        <p>رنگ</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("ManageCategory", "Admin")" class="nav-link">
                                        <i class="fa fa-th-list nav-icon"></i>
                                        <p>دسته بندی</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("ManageBrand", "Admin")" class="nav-link">
                                        <i class="fa fa-diamond nav-icon"></i>
                                        <p>برند</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("ManageGuarantee", "Admin")" class="nav-link">
                                        <i class="fa fa-shield nav-icon"></i>
                                        <p>گارانتی</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-inbox"></i>
                                <p>
                                    سفارشات
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="pages/charts/chartjs.html" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>وضعیت سفارشات</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="pages/charts/chartjs.html" class="nav-link">
                                        <i class="fa fa-print nav-icon"></i>
                                        <p>فاکتور فروش</p>
                                    </a>
                                </li>
                            </ul>
                        <li class="nav-item">
                            <a href="@Url.Action("ManageCategoryDetail", "Admin")" class="nav-link">
                                <i class="nav-icon fa fa-list-alt"></i>
                                <p>
                                    زیر گروه محصولات
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-product-hunt"></i>
                                <p>
                                    محصولات
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("ManageProducts", "Admin")" class="nav-link">
                                        <i class="fa fa-plus-square nav-icon"></i>
                                        <p>مدیریت محصولات</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-area-chart"></i>
                                <p>
                                    گزارشات
                                </p>
                            </a>
                        <li class="nav-item">
                            <a href="@Url.Action("ManageUser", "Admin")" class="nav-link">
                                <i class="nav-icon fa fa-users"></i>
                                <p>
                                    کاربران
                                </p>
                            </a>
                        <li class="nav-item">
                            <a href="@Url.Action("ManageWallet", "Admin")" class="nav-link">
                                <i class="nav-icon fa fa-money"></i>
                                <p>
                                    کیف پول
                                </p>
                            </a>
                        <li class="nav-item">
                            <a href="@Url.Action("ManageDiscountCode", "Admin")" class="nav-link">
                                <i class="nav-icon fa fa-percent"></i>
                                <p>
                                    کد تخفیف
                                </p>
                            </a>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-car"></i>
                                <p>
                                    ارسال
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("ManageShippingOption", "Admin")" class="nav-link">
                                        <i class="fa fa-truck nav-icon"></i>
                                        <p>روش های ارسال</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("ManageProvince", "Admin")" class="nav-link">
                                        <i class="fa fa-road  nav-icon"></i>
                                        <p>شهر و استان</p>
                                    </a>
                                </li>
                            </ul>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-pencil"></i>
                                <p>
                                    وبلاگ
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("ManageBlogPost", "Admin")" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>مدیریت وبلاگ</p>
                                    </a>
                                </li>
                            </ul>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-comment"></i>
                                <p>
                                    نظرات مشتریان
                                </p>
                            </a>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-sign-out"></i>
                                <p>
                                    خروج
                                </p>
                            </a>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        @RenderBody()
    </div>

    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <strong>CopyLeft &copy; 2025 <a href="http://github.com/shayansalehi1380/" target="_blank">شایان
                صالحی</a></strong>
    </footer>

    <!-- Control Sidebar -->
    @*     <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside> *@
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- jQuery -->
<script src="~/AdminDashboard/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- jQuery UI -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/AdminDashboard/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Morris.js charts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="~/AdminDashboard/plugins/morris/morris.min.js"></script>
<!-- Sparkline -->
<script src="~/AdminDashboard/plugins/sparkline/jquery.sparkline.min.js"></script>
<script src="~/AdminDashboard/plugins/select2/select2.full.min.js"></script>
<!-- jvectormap -->
<script src="~/AdminDashboard/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="~/AdminDashboard/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- jQuery Knob Chart -->
<script src="~/AdminDashboard/plugins/knob/jquery.knob.js"></script>
<!-- daterangepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script src="~/AdminDashboard/plugins/daterangepicker/daterangepicker.js"></script>
<!-- datepicker -->
<script src="~/AdminDashboard/plugins/datepicker/bootstrap-datepicker.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="~/AdminDashboard/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Slimscroll -->
<script src="~/AdminDashboard/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="~/AdminDashboard/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="~/AdminDashboard/dist/js/adminlte.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="~/AdminDashboard/dist/js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/AdminDashboard/dist/js/demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.all.min.js"></script>
<script src="~/js/site.js"></script>
<!-- bootstrap color picker -->
<script src="~/AdminDashboard/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>

<!-- سایر اسکریپت ها -->
<!-- اسکریپت حالت شب/روز -->
<script>

    document.addEventListener('DOMContentLoaded', function () {
        const darkModeToggle = document.getElementById('dark-mode-toggle');
        if (!darkModeToggle) return;

        const icon = darkModeToggle.querySelector('i');
        const body = document.body;

        function enableDarkMode() {
            body.classList.add('dark-mode');
            icon.className = 'fas fa-sun';
            localStorage.setItem('darkMode', 'enabled');
        }

        function disableDarkMode() {
            body.classList.remove('dark-mode');
            icon.className = 'fas fa-moon';
            localStorage.setItem('darkMode', 'disabled'); // ذخیره حالت غیرفعال به‌صورت صریح
        }

        // حالت پیش‌فرض: Light Mode (مگر اینکه کاربر Dark Mode را انتخاب کرده باشد)
        if (localStorage.getItem('darkMode') === 'enabled') {
            enableDarkMode();
        } else {
            disableDarkMode(); // همیشه Light Mode پیش‌فرض است
        }

        darkModeToggle.addEventListener('click', function (e) {
            e.preventDefault();
            body.classList.contains('dark-mode') ? disableDarkMode() : enableDarkMode();
        });
    });

</script>

@await RenderSectionAsync("script", false)

</body>
</html>
