@using Domain.Entity.BasicInfo
@{
    List<City> cities = ViewBag.Cities;
    List<State> states = ViewBag.State;
    int selectTab = ViewBag.selectTab;
    string stateTab = string.Empty;
    string cityTab = string.Empty;
    if (selectTab == 1)
    {
        stateTab = "active";
    }
    else
    {
        cityTab = "active";
    }
}

@section link {
    <style>
        #searchUser {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            border: none;
            background-color: #f2f4f6;
        }

        #searchIcon {
            border: none;
            background-color: #f2f4f6;
        }

        .modal {
            top: 5%;
        }
    </style>
}

<div class="row">
    <div class="col-12">
        <div class="card" style="margin: 15px 15px 0px 15px;">
            <div class="card-header p-2">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link @stateTab" href="#activity" data-toggle="tab">اُستان</a>
                    </li>
                    <li class="nav-item"><a class="nav-link @cityTab" href="#timeline" data-toggle="tab">شهر</a></li>
                </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content">

                    <div class="@stateTab tab-pane" id="activity">

                        <div class="d-flex justify-content-between align-items-center">
                            <form asp-controller="State" asp-action="Create" method="post"
                                  class="d-flex justify-content-start align-items-center" style="gap: 10px">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">نام اُستان</label>
                                    <input type="text" class="form-control" name="name" id="exampleInputEmail1"
                                           placeholder="نام اُستان را وارد کنید">
                                </div>
                                <div style="padding-top: 15px">
                                    <button type="submit" class="btn btn-primary">ثبت اُستان</button>
                                </div>

                            </form>
                            <form class="input-group input-group-sm w-25 p-2" asp-action="ManageProvince"
                                  asp-controller="Admin" method="post">
                                <input class="form-control form-control-navbar" id="searchUser" name="searchState"
                                       type="search" placeholder="جستجو" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" id="searchIcon" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">اُستان ها</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <table class="table table-striped">
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>نام اُستان</th>
                                        <th>تعداد شهر</th>
                                        <th>عملیات</th>
                                    </tr>
                                    @{
                                        int index = 1;
                                        foreach (var state in states)
                                        {
                                            <tr>
                                                <th style="width: 10px">@index</th>
                                                <th>@state.Name</th>
                                                <th>@state.Cities.Count</th>
                                                <th>
                                                    <form>
                                                        <button type="button" class="badge badge-warning editeState"
                                                                data-toggle="modal" data-target="#editStateModal">
                                                            ویرایش
                                                        </button>
                                                        <input type="text" name="sId" class="sId" value="@state.Id"
                                                               hidden="hidden"/>
                                                        <input type="text" name="sName" class="sName"
                                                               value="@state.Name"
                                                               hidden="hidden"/>
                                                    </form>

                                                    <a class="badge badge-danger"
                                                       href="@Url.Action("SoftDelete", "State", new { id = @state.Id })">حذف</a>
                                                </th>
                                            </tr>
                                            index++;
                                        }
                                    }


                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="@cityTab tab-pane" id="timeline">
                        <div class="d-flex justify-content-between align-items-center">
                            <form asp-controller="City" asp-action="Create" method="post"
                                  class="d-flex justify-content-start align-items-center" style="gap: 15px">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">نام شهر</label>
                                    <input type="text" class="form-control" name="name" id="exampleInputEmail1"
                                           placeholder="نام شهر را وارد کنید">
                                </div>
                                <div class="form-group">
                                    <label>نام اُستان</label>
                                    <select class="form-control select2" name="stateId" style="width: 100%;">
                                        @{
                                            var index = 0;
                                            foreach (var state in states)
                                            {
                                                if (index == 0)
                                                {
                                                    <option selected="selected" value="@state.Id">@state.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@state.Id">@state.Name</option>
                                                }

                                                index++;
                                            }
                                        }
                                    </select>
                                </div>
                                <div style="padding-top: 15px">
                                    <button type="submit" class="btn btn-primary">ثبت شهر</button>
                                </div>

                            </form>
                            <form class="input-group input-group-sm w-25 p-2" asp-action="ManageProvince"
                                  asp-controller="Admin" method="post">
                                <input class="form-control form-control-navbar" id="searchUser" name="searchCity"
                                       type="search" placeholder="جستجو" aria-label="Search">
                                <input name="tabs" value="2" hidden="hidden"/>
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" id="searchIcon" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">شهر ها</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <table class="table table-striped">
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>نام شهر</th>
                                        <th>نام اُستان</th>
                                        <th>عملیات</th>
                                    </tr>
                                    @foreach (var city in cities)
                                    {
                                        <tr>
                                            <th style="width: 10px">@city.Id</th>
                                            <th>@city.Name</th>
                                            <th>@city.State.Name</th>
                                            <th>
                                                <form>
                                                    <button type="button" class="badge badge-warning editeCity"
                                                            data-toggle="modal" data-target="#exampleModal">
                                                        ویرایش
                                                    </button>
                                                    <input type="text" name="mId" class="mId" value="@city.Id"
                                                           hidden="hidden"/>
                                                    <input type="text" name="mName" class="mName" value="@city.Name"
                                                           hidden="hidden"/>
                                                    <input type="text" name="mStateId" class="mStateId"
                                                           value="@city.StateId" hidden="hidden"/>
                                                </form>

                                                <a class="badge badge-danger"
                                                   href="@Url.Action("SoftDelete", "City", new { id = city.Id })">حذف</a>
                                            </th>
                                        </tr>
                                    }

                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
                <!-- /.tab-content -->
            </div><!-- /.card-body -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalLabel">ویرایش شهر</h5>
            </div>
            <div class="modal-body">
                <form asp-action="Update" asp-controller="City" method="post">
                    <input id="CityId" name="id" hidden="hidden"/>
                    <div class="form-group">
                        <label for="exampleInputEmail1">نام شهر</label>
                        <input type="text" class="form-control" id="NameCity" name="name" aria-describedby="emailHelp"
                               placeholder="نام شهر را وارد کنید">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">اُستان</label>
                        <select class="form-control" id="StateId" name="stateId">
                            @foreach (var i in states)
                            {
                                <option value="@i.Id">@i.Name</option>
                            }
                        </select>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                    <button type="submit" class="btn btn-primary">ثبت</button>
                </form>
            </div>

        </div>
    </div>
</div>



<div class="modal fade" id="editStateModal" tabindex="-1" role="dialog" aria-labelledby="editStateModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="editStateModalLabel">ویرایش اُستان</h5>
            </div>
            <div class="modal-body">
                <form asp-action="Update" asp-controller="State" method="post">
                    <input id="stateId" name="id" hidden="hidden"/>
                    <div class="form-group">
                        <label for="NameState">نام اُستان</label>
                        <input type="text" class="form-control" id="NameState" name="name"
                               placeholder="نام اُستان را وارد کنید">
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                    <button type="submit" class="btn btn-primary">ثبت</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section script



{
    <script>
        $(document).ready(function () {

            $(".editeCity").click(function () {
                var currentRow = $(this).closest("form")
                $("#CityId").val(currentRow.find($("input.mId[type=text]")).val());
                $("#NameCity").val(currentRow.find($("input.mName[type=text]")).val());
                $("#StateId").val(currentRow.find($("input.mStateId[type=text]")).val());
            })
        })

        $(document).ready(function () {
            $(".editeState").click(function () {
                var currentRow = $(this).closest("form");
                $("#stateId").val(currentRow.find($("input.sId[type=text]")).val());
                $("#NameState").val(currentRow.find($("input.sName[type=text]")).val());
            });
        });
    </script>
}
