@using Domain.Entity.Products.Guaranties
@{
    List<Guarantee> guarantees = ViewBag.Guarantee;

    int selectTab = ViewBag.selectTab;
    string guaranteeTab = string.Empty;
    if (selectTab == 1)
    {
        guaranteeTab = "active";
    }
    else
    {
        guaranteeTab = "active";
    }
}

@section link {
    <style>
        #searchUser {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            border: none;
            background-color: #f2f4f6;
        }

        #searchIcon {
            border: none;
            background-color: #f2f4f6;
        }

        .modal {
            top: 5%;
        }
    </style>
}

<div class="row">
    <div class="col-12">
        `
        <div class="card" style="margin: 15px 15px 0px 15px;">
            <div class="card-header p-2">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link @guaranteeTab" href="#activity" data-toggle="tab">گارانتی</a></li>
                </ul>
            </div><!-- /.card-body -->
            <div class="card-body">
                <div class="tab-content">

                    <div class="@guaranteeTab tab-pane" id="activity">
                        <div class="d-flex justify-content-between align-items-center">
                            <form asp-controller="Guarantee" asp-action="Create" method="post"
                                  class="d-flex justify-content-start align-items-center" style="gap: 10px">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">نام گارانتی</label>
                                    <input type="text" class="form-control" name="name" id="exampleInputEmail1"
                                           placeholder="نام گارانتی را وارد کنید">
                                </div>
                                <div style="padding-top: 15px">
                                    <button type="submit" class="btn btn-primary">ثبت گارانتی</button>
                                </div>

                            </form>
                            <form class="input-group input-group-sm w-25 p-2" asp-action="ManageGuarantee" asp-controller="Admin" method="post">
                                <input class="form-control form-control-navbar" id="searchUser" name="searchGuarantee" type="search" placeholder="جستجو" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" id="searchIcon" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">گارانتی ها</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <table class="table table-striped">
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>نام گارانتی</th>
                                        <th>عملیات</th>
                                    </tr>
                                    @foreach (var guarantee in guarantees)
                                    {
                                        <tr>
                                            <th style="width: 10px">@guarantee.Id</th>
                                            <th>@guarantee.Title</th>
                                            <th>
                                                <form>
                                                    <button type="button" class="badge badge-warning editeGuarantee"
                                                            data-toggle="modal" data-target="#editGuaranteeModal">
                                                        ویرایش
                                                    </button>
                                                    <input type="text" name="gId" class="gId" value="@guarantee.Id" hidden="hidden" />
                                                    <input type="text" name="gName" class="gName" value="@guarantee.Title" hidden="hidden" />
                                                </form>

                                                <a class="badge badge-danger"
                                                   href="@Url.Action("SoftDelete", "Guarantee", new { id = guarantee.Id })">حذف</a>
                                            </th>
                                        </tr>
                                    }


                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editGuaranteeModal" tabindex="-1" role="dialog" aria-labelledby="editGuaranteeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="editGuaranteeModalLabel">ویرایش گارانتی</h5>
            </div>
            <div class="modal-body">
                <form asp-action="Update" asp-controller="Guarantee" method="post">
                    <input id="guaranteeId" name="id" hidden="hidden" />
                    <div class="form-group">
                        <label for="guaranteeName">نام گارانتی</label>
                        <input type="text" class="form-control" id="guaranteeName" name="name" placeholder="نام دسته بندی مادر را وارد کنید">
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                    <button type="submit" class="btn btn-primary">ثبت</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section script
{
    <script>
        $(document).ready(function () {
            $(".editeGuarantee").click(function () {
                var currentRow = $(this).closest("form");
                $("#guaranteeId").val(currentRow.find("input.gId[type=text]").val());
                $("#guaranteeName").val(currentRow.find("input.gName[type=text]").val());
            });
        });
    </script>
}